.city_cases-page-title {
    font-weight: 700;
}

.city_cases {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--city-black)
}

.city_cases-subcontainer {
    max-width: 1200px;
    width: 100%;
    padding: 100px 20px 500px 20px;
    color: white;
}

.city_cases-title h1 {
    font-weight: 700;
    text-transform: uppercase;
}

.city_cases-desc {
    max-width: 1000px;
    margin-bottom: 90px;
}

.city_cases-info {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
    color: var(--city-green);
}

.city_cases-info-arrow {
    min-width: 40px;
    height: 40px;
    background-color: var(--city-green);
    text-align: center;
    border-radius: 35px;
    margin-right: 10px;
}

.city_cases-info-arrow p {
    color: var(--city-black);
    display: contents;
    font-size: 2.8rem;
    background-color: red;
    padding: 0;
    margin: 0;
    font-weight: 200;
}

.city_cases-info-text p {
    line-height: 20px;
}

.city_cases-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.city_cases-card {
    max-width: 350px;
    width: 100%;
    height: 650px;
    background-color: var(--city-graphite);
}

.city_cases-card-bg {
    max-height: 260px;
}

.city_cases-card-bg img {
    width: 100%;
    height: 260px;
}

.city_cases-card-body {
    padding: 20px;
}

.city_cases-card-modality p {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 4px;
}

.city_cases-card-title {
    position: relative;
    margin-bottom: 40px;
}

.city_cases-card-title::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--city-green);
    bottom: -20px;
    left: 0;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.city_cases-card-title h1 {
    font-size: 2rem;
    font-weight: 700;
}

body {
    position: relative;
}

.city_cases-video-modal-constroen,
.city_cases-video-modal-mercadao,
.city_cases-video-modal-magalu
 {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.884);
    z-index: 999;
}

.city_case-video-modal-subcontainer {
    max-width: 900px;
    width: 100%;
    max-height: 540px;
    height: 100%;
    padding: 20px;
    position: relative;
}

.city_cases-video-modal-close {
    position: absolute;
    top: -6px;
    right: 10px;
    background-color: var(--city-green);
    min-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
}

.city_cases-video-modal-close:hover {
    background-color: var(--city-blue);
}

.city_cases-video-modal-close p {
    color: var(--city-black);
    display: contents;
}

@media screen and (max-width: 866px) {
    .city_cases-video-modal-close {
        top: 1vw;
    }
}

@media screen and (max-width: 741px) {
    .city_cases-video-modal-close {
        top: 5vw;
    }
}

@media screen and (max-width: 641px) {
    .city_cases-video-modal-close {
        top: 10vw;
    }
}

@media screen and (max-width: 570px) {
    .city_cases-video-modal-close {
        top: 15vw;
    }
}

@media screen and (max-width: 479px) {
    .city_cases-video-modal-close {
        top: 23vw;
    }
}

@media screen and (max-width: 446px) {
    .city_cases-video-modal-close {
        top: 27vw;
    }
}

@media screen and (max-width: 414px) {
    .city_cases-video-modal-close {
        top: 32vw;
    }
}

@media screen and (max-width: 358px) {
    .city_cases-video-modal-close {
        top: 41vw;
    }
}

@media screen and (max-width: 669px) {
    .city_cases-title {
        margin-bottom: 20px;
    }

    .city_cases-title h1 {
        font-size: 4.5vw;
        text-wrap: nowrap;
    }
}

@media screen and (max-width: 381px) {
    .city_cases-card-desc p {
        line-height: 20px;
    }
}